
.circleG {
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%
}
.circleB {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%
}
.circleR {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%
}
